name: Cargo Build & Test

on:
  push:
  pull_request:

env: 
  CARGO_TERM_COLOR: always

jobs:
  build_and_test:
    name: Rust project - latest
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain:
          - stable
          - beta
          - nightly
    steps:
      - name: Fetch Repository
        uses: actions/checkout@v6
      - name: Install toolchain
        run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}
      - name: Check build
        run: cargo build --verbose
      - name: Run tests
        run: cargo test --verbose --workspace

  format_lint:
    name: Check formatting
    runs-on: ubuntu-latest

    steps:
      - name: Fetch Repository
        uses: actions/checkout@v6
      - name: Install toolchain with rustfmt
        run: rustup update stable && rustup default stable && rustup component add rustfmt
      - name: Check rust format
        run: cargo fmt --all --check

